{% extends "main_base.html" %}

{% block title %}Выставление оценок{% endblock %}

{% block content %}
<div class="grade-container">
    <h2>Успеваемость</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Дисциплина</th>
                    <th>Студент</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for item in students %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ discipline.title }}</td>
                        <td>{{ item.student.name }}</td>
                        <td>
                            <input type="text" name="grade_{{ item.student.id }}"
                                   value="{{ item.grade.score }}" {% if item.grade is None %}
                                   placeholder="Нет оценки"{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn-submit">Сохранить изменения</button>
    </form>
    <a href="{% url 'grade_system:teacher_dashboard' %}" class="btn-back">Назад к панели преподавателя</a>
</div>
{% endblock %}
