{% extends "main_base.html" %}

{% block title %}Выставление оценок{% endblock %}

{% block content %}
<div class="grade-container">
    <h2>Успеваемость</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Дисциплина</th>
                    <th>Студент</th>
                    {% if discipline.is_credit %}
                        <th>Зачет</th>
                    {% else %}
                        <th>Оценка</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in students %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ discipline.title }}</td>
                        <td>{{ item.student.name }}</td>
                        <td>
                            {% if discipline.is_credit %}
                                <input type="checkbox" name="grade_{{ item.student.id }}" {% if item.is_passed %}checked{% endif %} class="grade-input">
                            {% else %}
                                <input type="text" name="grade_{{ item.student.id }}" value="{{ item.grade.score }}" width=50px>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn-submit">Сохранить изменения</button>
    </form>
    <a href="{% url 'grade_system:teacher_dashboard' %}" class="btn-back">Назад к панели преподавателя</a>
</div>
{% endblock %}
