{% extends "main_base.html" %}

{% block content %}
    <div class="dashboard-container">
        <h1>Преподавательская панель</h1>
        <ul class="discipline-list">
            {% for item in disciplines_with_groups %}
                <li class="discipline-item">
                    <div class="discipline-title">{{ item.discipline.title }}</div>
                    <ul class="group-list">
                        {% for group in item.groups %}
                            <li class="group-item">
                                <a href="{% url 'grade_system:group_detail' group.id %}?discipline_id={{ item.discipline.id }}" class="group-link">
                                    {{ group.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}