{% extends "main_base.html" %}

{% block content %}
    <div class="skills-container">
        <p>Привет! Я Васильев Семен Дмитриевич, студент 2 курса КубГТУ. Я разработал этот сайт как систему выставления оценок и расчета стипендии.</p>
        <ul class="skills-list">
            <li class="skill-item">
                <p>Django</p>
                <p>Фреймворк для создания веб-приложений на языке Python.</p>
            </li>
            <li class="skill-item">
                <p>REST API</p>
                <p>Архитектурный стиль взаимодействия компонентов распределенного приложения в сети.</p>
            </li>
            <li class="skill-item">
                <p>HTML + CSS</p>
                <p>Языки разметки и стилей для создания и оформления веб-страниц.</p>
            </li>
            <li class="skill-item">
                <p>SQLite</p>
                <p>Встроенная система управления базами данных, обеспечивающая легкость использования и настройки.</p>
            </li>
            <li class="skill-item">
                <p>Git</p>
                <p>Система контроля версий, обеспечивающая отслеживание изменений в коде и совместную работу разработчиков.</p>
            </li>
        </ul>
    </div>
{% endblock %}
